@{
    ViewData["Title"] = "Profile";
}

@model Bloggerhead.Admin.Models.UserViewModel

<div class="row">
  <div class="col-lg-6">
      <form role="form" method="POST">
           <div class="form-group">
              <label>UserName</label>
              <p class="form-control-static">@Model.UserName</p>
          </div>
          <div class="form-group">
              <label asp-for="FirstName"></label>
              <input asp-for="FirstName" class="form-control">
              <span asp-validation-for="FirstName" class="text-danger"></span>
          </div>
          <div class="form-group">
              <label asp-for="Surname"></label>
              <input asp-for="Surname" class="form-control">
              <span asp-validation-for="Surname" class="text-danger"></span>
          </div>
          <div class="form-group">
              <label asp-for="EmailAddress"></label>
              <input type="email" asp-for="EmailAddress" class="form-control">
              <span asp-validation-for="EmailAddress" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="hidden" asp-for="Id">
            <input type="hidden" asp-for="UserName">
          </div>
          <button type="submit" class="btn btn-success">Save</button>
      </form>
  </div>
</div>