@model IEnumerable<Bloggerhead.Data.Post>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-controller="Posts" asp-action="New" class="btn btn-primary">
                  <i class="fa fa-plus "></i> Create a new Post
                </a>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Date</th>
                            <th>Published</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var post in Model)
                        {
                            <tr class="odd gradeX">
                                <td>
                                    <a asp-controller="Posts" asp-action="Edit" asp-route-id=@post.Id>@post.Title</a>
                                </td>
                                <td>@post.User.UserName</td>
                                <td>@post.PublishedDate</td>
                                <td class="center">@post.Published</td>
                                <td class="center">&nbsp;</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>