@{
    ViewData["Title"] = ViewData["Action"] + " Post";
}

@model Bloggerhead.Admin.Models.PostModel

<div class="row">
    <div class="col-lg-12">
        <form action="" method="POST">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <input id="editor" type="hidden" asp-for="Content">
                <trix-editor input="editor" class="trix-content"></trix-editor>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label>Post Image</label>
                    <div class="dz" id="dz">
                        <i>Drag a JPG/PNG image here, or click to select one to upload securely to Azure Storage</i>
                    </div>
                    <label>Post Image URL</label> <input id="ImgUrl" asp-for="ImgUrl" class="form-control" placeholder="Automatically populated after upload, or you can paste a URL here.">
                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                    <span id="uploading" class="hidden">Securely uploading image to Azure Storage Account.</span>
                </div>
                <div id="uploads" class="col-lg-6">
                </div>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <textarea id="tags" asp-for="Tags" class="form-control" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select asp-for="Status" asp-items=@ViewBag.Statuses class="form-control">
                </select>
            </div>
            <div>
                <input type="hidden" asp-for="Id">
            </div>
            <button type="submit" class="btn btn-primary">@ViewData["Action"]</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">&nbsp;</div
></div>

@section AdditionalHead 
{
    <link href="~/lib/trix/trix.css" rel="stylesheet">
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet">
    <link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/lib/jquery-tag-editor/jquery.tag-editor.css" rel="stylesheet">
    <style>
        .trix-content {
            height: 300px;
            overflow-y: scroll;
        }
        trix-toolbar .trix-button-row {
            justify-content: start;
        }

        #dz {
            width: 100%;
            min-height: 100px;
            border: 1px dashed royalblue;
        }
    </style>
}

@section Scripts 
{
    <script src="~/lib/trix/trix.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-tag-editor/jquery.caret.min.js"></script>
    <script src="~/lib/jquery-tag-editor/jquery.tag-editor.min.js"></script>
    <script>
    $(function() {
        Dropzone.autoDiscover = false;

        function createFileURL(file) {
            return '@ViewData["AzureContainerUrl"]' + '/' + file.name;
        }

        var dz = new Dropzone("#dz", {
            clickable: true,
            method: 'put',
            addRemoveLinks: true,
            url: function(files) {
                return files.map(createFileURL);
            },
            previewsContainer: "#uploads",
            accept: function(file, done) {
                if(file.type == "image/png" || file.type == "image/jpeg"){
                    done();
                } else {
                    done("Sorry, only PNGs or JPGs are supported for now.");
                }
            },
            sending: function(file, xhr, formData) {
                var _send = xhr.send;
                xhr.send = function() {
                    $("#uploading").removeClass("hidden");
                    $.get("/api/azureauth/" + file.name, function(data){
                        data.authHeaders.forEach(a => {
                            xhr.setRequestHeader(a.name, a.value);
                        });
                        _send.call(xhr, file);
                    });
                };
            },
            success: function(file){
                $("#ImgUrl").val(createFileURL(file))
                $("#uploading").addClass("hidden");
            }
        });

        $('#tags').tagEditor({
            autocomplete: {
                delay: 0, // show suggestions immediately
                position: { collision: 'flip' }, // automatic menu position up/down
                source: ['ActionScript', 'AppleScript', 'Asp', ... 'Python', 'Ruby']
            },
            forceLowercase: false,
            placeholder: 'Post Tags ...'
        });
    });
    </script>
}