@model FrontPageModel

@{
    ViewData["Title"] = Model.Settings.BlogTitle;
    ViewData["BlogTitle"] = Model.Settings.BlogTitle;
    ViewData["BackgroundImgUrl"] = Model.Settings.BackgroundImgUrl;
}

<ul id="articles" class="p-articles">
    @{
        var lastPostId = 0;
    }
    @foreach(var post in Model.Posts)
    {
        <partial name="_ShortPostPartial" model="post" />
        lastPostId = post.Id;
    }
</ul>
<div class="load-more">
    <a id="load-more" href="">Load More</a>
</div>

@section Scripts 
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        var lastPostId = @lastPostId;
        var loadMore = @Model.Settings.LoadMorePostsCount;
        $(document).ready(function(){
            $("#load-more").click(function(){
                var url = "LoadMore/" + lastPostId + "/" + loadMore; // eg. Load 2 more posts after the last one ;)
                $.getJSON(url)
                 .done(function(data){
                    console.log(data);
                    lastPostId = data.lastPostId;
                    data.posts.forEach(function(p) {
                        $(p).appendTo($("#articles"));
                    }); 
                 });
                return false;
            });
        });
    </script>
}