<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width,minimum-scale=1,initial-scale=1" name="viewport">
	<meta content="nishkarr@gmail.com" name="contact">
	<meta content="Bloggerhead" name="generator">
	<link href="~/css/images/logo.png" rel="apple-touch-icon">
	<link href="https://fonts.googleapis.com/css?family=Lobster%7cLato:400,700" rel="stylesheet">
    <title>@ViewData["Title"]</title>
    <link href="~/css/site.css" rel="stylesheet">
	@RenderSection("AdditionalHead", required: false)
</head>
<body style='background-image: url(@ViewData["BackgroundImgUrl"]);'>
	<header class="l-header">
		<div class="h-logo p-logo">
			<a class="h-logo" asp-controller="Home" asp-action="Index">@ViewData["BlogTitle"]</a> 
		</div>
		<nav class="p-nav">
			<ul>
				<li>
					<a class="p-logo" asp-area="Admin" asp-controller="Admin" asp-action="Index">Login</a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="l-container">
			@RenderBody()
		</div>
	</main>
	<footer class="l-footer">
		<div class="content-inner">
			<p><span class="h-logo">&copy; @ViewData["BlogTitle"]</span></p>
			<aside>
				<p>Powered by <a href="https://bloggerhead.io/">Bloggerhead</a>.</p>
				<p><a class="h-logo" href="https://unsplash.com/">Images</a> from <a href="https://unsplash.com/">Unsplash</a>.</p>
			</aside>
		</div>
	</footer><a class="p-movetop" href="#" rel="nofollow" title=""></a>
	@RenderSection("Scripts", required: false)
</body>
</html>