@model Bloggerhead.Data.Post

@{
    var post = Model;
    var url = $"/Post/{post.Id}/{post.Slug}";
    var author = $"{post.User.FirstName} {post.User.Surname}";
}
<li>
    <article class="li">
        <header class="article-header">
            <div class="content-inner">
                <div class="clearfix">
                    <h2 class="title"><a href="@url">@post.Title</a></h2>
                    <ul class="p-facts">
                        <li>
                            <i class="inline calendar"></i>@author
                        </li>
                        <li>
                            @post.PublishedDate
                        </li>
                    </ul>
                </div>
            </div>
            <a class="thumbnail" style="background-image: url(@post.ImgUrl);" href="@url" title="@post.Title"></a>
        </header>
        <div class="content-inner">
            <div class="article-body summary">
                @Html.Raw(@post.Blurb)
            </div>
            <div class="article-tags">
                <i class="inline tag"></i>
                @foreach(var pt in post.PostTag)
                {
                    <span class="tag">@pt.Tag.Desc</span>
                }
            </div>
            <footer class="readmore">
                <a href="@url">READ MORE</a>
            </footer>
        </div>
    </article>
</li>