@{
    ViewData["Title"] = "Edit Blog Settings";
}

@model Bloggerhead.Admin.Models.SettingsModel

<div class="row">
    <div class="col-lg-12">
        <form action="" method="POST">
            <div class="form-group">
                <label asp-for="BlogTitle">Blog Title</label>
                <input asp-for="BlogTitle" class="form-control">
                <span asp-validation-for="BlogTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogDesc">Blog Desc</label>
                <input asp-for="BlogDesc" class="form-control">
                <span asp-validation-for="BlogDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialPostCount">Initial Posts</label>
                <input asp-for="InitialPostCount" class="form-control">
                <span asp-validation-for="InitialPostCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoadMorePostsCount">"Load More" Posts</label>
                <input asp-for="LoadMorePostsCount" class="form-control">
                <span asp-validation-for="LoadMorePostsCount" class="text-danger"></span>
                <span>How many Posts to retrieve when the user clicks "Load More"</span>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label>Blog Background Image</label>
                    <div class="dz" id="dz">
                        <i>Drag a JPG/PNG image here, or click to select one to upload securely to Azure Storage</i>
                    </div>
                    <label>Blog Background Image URL</label> <input id="BackgroundImgUrl" asp-for="BackgroundImgUrl" class="form-control" placeholder="Automatically populated after upload, or you can paste a URL here.">
                    <span asp-validation-for="BackgroundImgUrl" class="text-danger"></span>
                    <span id="uploading" class="hidden">Securely uploading image to Azure Storage Account.</span>
                </div>
                <div id="uploads" class="col-lg-6">
                </div>
            </div>
            <div>
                &nbsp;
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</div>


@section AdditionalHead 
{
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet">
    <style>
        #dz {
            width: 100%;
            min-height: 100px;
            border: 1px dashed royalblue;
        }
    </style>
}

@section Scripts 
{
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script>
    $(function() {
        Dropzone.autoDiscover = false;

        function createFileURL(file) {
            return '@ViewData["AzureContainerUrl"]' + '/' + file.name;
        }

        var dz = new Dropzone("#dz", {
            clickable: true,
            method: 'put',
            addRemoveLinks: true,
            url: function(files) {
                return files.map(createFileURL);
            },
            previewsContainer: "#uploads",
            accept: function(file, done) {
                if(file.type == "image/png" || file.type == "image/jpeg"){
                    done();
                } else {
                    done("Sorry, only PNGs or JPGs are supported for now.");
                }
            },
            sending: function(file, xhr, formData) {
                var _send = xhr.send;
                xhr.send = function() {
                    $("#uploading").removeClass("hidden");
                    $.get("/api/azureauth/" + file.name, function(data){
                        data.authHeaders.forEach(a => {
                            xhr.setRequestHeader(a.name, a.value);
                        });
                        _send.call(xhr, file);
                    });
                };
            },
            success: function(file){
                $("#BackgroundImgUrl").val(createFileURL(file))
                $("#uploading").addClass("hidden");
            }
        });
    });
    </script>
}